@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src:url('../font/IRANSansWeb_Light.eot');
    src: url('../font/IRANSansWeb_Lightd41dd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../font/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../font/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/IRANSansWeb_Light.ttf') format('truetype');
}

* {
    font-family: IRANSans;
}

body {
    direction: rtl !important;
    text-align: right !important;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 40px;
    background: #0a1529;
    z-index: 2;
}

.side-menu {
    position: fixed;
    bottom: 0;
    top: 50px;
    right: 0;
    width: 286px;
    padding: 20px 0;
    background: #ffffff;
    z-index: 2;
    box-shadow: 0 0 0.25rem rgb(108 118 134 / 10%);
    border-left: 1px solid #dcd7d7;
}

.list-unstyled {
    display: none;
}

#sidebar-menu > ul > li.nav-active > ul {
    display: block !important;
    margin: 10px 11px!important;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0px 8px !important;
}

li {
    padding: 8px 0px;
}

a {
    color: #564b4b;
    text-decoration: none !important;
}
a:hover{
    color: #433b3b;
}

.content-page {
    margin-right: 292px;
    margin-top: 65px;
}